.all-wrapper{
  width: 80vw;
  min-height: 720px;
  height: 80vh;
  background-color: #161a1d;
  margin: 50px auto 50px auto;
  overflow: hidden;
  border-radius: 8px;
}
.close-search-layer{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}