<div class="close-search-layer" (click)="isActiveSearch()"></div>
<div class="all-wrapper">
    <app-sidebar #sidebar (emitEvent)="sidebarMessage($event)" (getWatchLater)="watchLaterSvc($event)" (getPopularLater)="popularLaterSvc($event)">

    </app-sidebar>
    <app-home #home></app-home>
</div>