<div class="sidebar-wrapper">
  <div class="user-avatar">
    <div class="avatar-img"></div>
  </div>
  <a class="sidebar-items">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <span>latest</span>
  </a>
  <a class="sidebar-items" (click)="getPopularList()">
    <i class="fa fa-star" aria-hidden="true"></i>
    <span>popular</span>
  </a>
  <a class="sidebar-items">
    <i class="fa fa-heart" aria-hidden="true"></i>
    <span>favorites</span>
  </a>
  <a class="sidebar-items" (click)="getWatchList()">
    <i class="fa fa-list-ul" aria-hidden="true"></i>
    <span>watchlist</span>
  </a>
  <a class="sidebar-items" (click)="isActiveSearch()">
    <i class="fa fa-search" aria-hidden="true"></i>
    <span>search</span>
  </a>
  <a class="sidebar-items">
    <i class="fa fa-th" aria-hidden="true"></i>
    <span>geners</span>
  </a>
  <a class="sign-out">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    <span>sign out</span>
  </a>
</div>
