.sidebar-wrapper{
  background-color: #2A303A;
  width: 120px;
  height: 100%;
  padding-top: 15px;
  position: relative;
  .user-avatar{
    border-bottom: 1px solid #191e23;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
  .avatar-img{
    margin: 0 auto;
    background: url("../../assets/images/avatar.jpg");
    width: 70px;
    height: 70px;
    background-position: top center;
    background-size: cover;
    border-radius: 8px;
  }
  .sidebar-items,.sign-out{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      i,span{
        color: #36e2a1;
      }
    }
    i{
      color: #fff;
      font-size: 30px;
    }
    span{
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      display: block;
      text-align: center;
    }
  }
  .sign-out{
    padding: 15px 0;
    border-top: 1px solid #191e23;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    i,span{
      color: #e44948!important;
    }
  }
}
