$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@mixin cf {
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
  .lt-ie8 & {
    zoom: 1;
  }
}
@mixin ellipsis( $lines-to-show, $font-size: inherit, $line-height: 1.35) {
  @if $lines-to-show > 1 {
    height: $font-size*$line-height*$lines-to-show;
    max-height: $font-size*$line-height*$lines-to-show;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @if $lines-to-show==1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}