@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
body{
  min-height: 100vh;
  background: -moz-linear-gradient(269deg, rgba(24,8,38,1) 0%, rgba(64,94,108,1) 53%, rgba(132,157,134,1) 98%, rgba(132,157,134,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(24,8,38,1)), color-stop(53%, rgba(64,94,108,1)), color-stop(98%, rgba(132,157,134,1)), color-stop(100%, rgba(132,157,134,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(269deg, rgba(24,8,38,1) 0%, rgba(64,94,108,1) 53%, rgba(132,157,134,1) 98%, rgba(132,157,134,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(269deg, rgba(24,8,38,1) 0%, rgba(64,94,108,1) 53%, rgba(132,157,134,1) 98%, rgba(132,157,134,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(269deg, rgba(24,8,38,1) 0%, rgba(64,94,108,1) 53%, rgba(132,157,134,1) 98%, rgba(132,157,134,1) 100%); /* ie10+ */
  background: linear-gradient(181deg, rgba(24,8,38,1) 0%, rgba(64,94,108,1) 53%, rgba(132,157,134,1) 98%, rgba(132,157,134,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#180826', endColorstr='#849D86',GradientType=0 ); /* ie6-9 */
  & *::-webkit-scrollbar {
    display: block;
  }
}
.load-page{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
app-home {
  float: left;
  @include cf();
  width: calc(100% - 120px);
  height: 100%;
  overflow: auto;
}

app-sidebar{
  float: left;
  @include cf();
  height: 100%;
  overflow: auto;
}