<div class="home-wrapper">
    <div class="col-lg-3 col-md-3" *ngFor="let movie of allMovies">
        <div class="movie-item">
            <div class="movie-bg">
                <img src="{{'https://image.tmdb.org/t/p/w370_and_h556_bestv2' + movie.poster_path}} " alt="">
                <div class="play-wrapper">
                    <div class="overly"></div>
                    <div class="play-btn"></div>
                    <div class="more-btn">
                        <a href="javascript:void(0)">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0)">
                            <i class="fa fa-share-square-o" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0)">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0)" [ngClass]="{'active-watch': checkWatchList(movie.id)}" (click)="getMoviesItem(movie)">
                            <i class="fa fa-history" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="movie-title">{{movie.title}}</div>
            <div class="rating">
                <span class="rating-count" [ngStyle]="{'width.%': movie.vote_average * 10 }"></span>
                <span class="rating-star"></span>
            </div>
        </div>
    </div>
    <div class="search-wrapper" [ngClass]="{'open': openSearch}">
        <label for="search">
            <input type="text" #searchInput class="search-inp" (keyup.enter)="getSearchItems(searchInput.value)" id="search" placeholder="Search">
            <i class="fa fa-search" aria-hidden="true" (click)="getSearchItems(searchInput.value)"></i>
        </label>
    </div>
</div>
