@import '../../variables';
.home-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 25px 5px;
  .movie-item{
    cursor: pointer;
    margin-bottom: 20px;
  }
  .movie-bg{
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover{
      .play-wrapper{
        opacity: 1;
      }
    }
  }
  .play-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: all .5s;
  }
  .overly{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    z-index: 1;
  }
  .play-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../../assets/images/play-btn.png') no-repeat;
    width: 60px;
    height: 60px;
    background-size: cover;
    z-index: 2;
  }
  .more-btn{
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 10px;
    .active-watch{
      i{
        color: #ff0000;
      }
    }
    a{
      display: block;
      margin: 0 0 10px 0;
    }
    i{
      font-size: 30px;
      color: #fff;
    }
  }
  .movie-title{
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    font-size: 18px;
  }
  .movie-info{
    color: #757e8c;
    width: 100%;
    @include cf();
    .categories{
      float: left;
    }
    .time{
      float: right;
    }
  }
  .rating{
    background-color: #434344;
    margin-top: 5px;
    position: relative;
    @include cf();
    width: 100px;
    height: 18px;
  }
  .rating-count{
    position: absolute;
    left: 1px;
    top: 0;
    height: 100%;
    background-color: #bab537;
    z-index: 1;
  }
  .rating-star{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: url('../../assets/images/rating.png') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18px;
    display: inline-block;
  }
  .search-wrapper{
    position: absolute;
    top: 0;
    padding-top: 0;
    max-height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 3;
    left: 0;
    overflow: hidden;
    transition: all .5s;
    &.open{
      max-height: 100px;
      padding-top: 50px;
    }
    label{
      position: relative;
      width: 30%;
      left: 50%;
      top: 50%;
      height: 40px;
      transform: translate(-50%, -50%);
      z-index: 4;
      input{
        width:100%;
        height:100%;
        background-color: #fff;
        color: #333;
        border: none;
        border-radius: 15px;
        padding: 0 30px 0 10px;
        outline: none;
      }
      i {
        position: absolute;
        right: 10px;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%);
        color: #333;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}